header {
  background: #3D4450;
}
header nav {
  height: 54px;
  width: 1140px;
  margin: 0 auto;
}
header nav a:first-child span {
  display: hidden;
}
header nav a {
  color: white;
  font-size: 14px;
  padding: 0px 15px;
  display: block;
  height: 54px;
  float: left;
  line-height: 54px;
}
header nav a:hover {
  color: white;
}
header nav a img {
  position: relative;
  top: -3px;
}
header nav a span {
  padding: 0px 5px;
}
#content {
  width: 1140px;
  margin: 30px auto;
}
#content .outside {
  width: 1140px;
  display: -moz-box;
  display: -webkit-box;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
}
#content .outside .left {
  margin-right: 30px;
  display: -moz-box;
  display: -webkit-box;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
}
#content .outside .left p.top {
  width: 710px;
  font-size: 12px;
  display: block;
  padding: 15px 40px;
  box-shadow: 0px 0px 2px #C2C2C2;
  border-radius: 10px;
  position: relative;
}
#content .outside .left p.top span:first-child {
  color: #B94A48;
  font-weight: 500;
}
#content .outside .left p.top span:nth-last-child(1) {
  position: absolute;
  top: 20px;
  right: 20px;
  font-weight: 600;
}
#content .outside .left section {
  margin: 15px 0px 30px;
  width: 750px;
  box-shadow: 0px 0px 4px black;
  border-radius: 5px;
}
#content .outside .left section.lunbo {
  position: relative;
}
#content .outside .left section.lunbo li img {
  width: 750px;
  border-radius: 5px;
}
#content .outside .left section.lunbo li {
  display: none;
}
#content .outside .left section.lunbo li:first-child {
  display: block;
}
#content .outside .left section.lunbo span {
  position: absolute;
  color: white;
  font-size: 25px;
  top: 145px;
}
#content .outside .left section.lunbo span.glyphicon-menu-left {
  left: 20px;
}
#content .outside .left section.lunbo span.glyphicon-menu-right {
  right: 20px;
}
#content .outside .left section.content {
  padding-bottom: 15px;
}
#content .outside .left section.content figure figcaption {
  margin: 30px 0px 40px;
  font-size: 30px;
  text-align: center;
  letter-spacing: 2px;
}
#content .outside .left section.content figure li.link {
  position: relative;
  left: 250px;
  top: -20px;
}
#content .outside .left section.content figure li.link a {
  text-align: center;
  font-size: 11px;
  color: white;
  text-decoration: none;
  padding: 4px 10px;
  background: #3D4450;
  font-weight: 600;
  margin: 5px;
  border-radius: 5px;
}
#content .outside .left section.content figure li.link a:hover {
  background: #D9534F;
}
#content .outside .left section.content figure img {
  width: 710px;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}
#content .outside .left section.content figure p.desc {
  color: #666;
  width: 710px;
  font-size: 12px;
  margin: 15px auto;
  background: #E9E8E8;
  padding: 20px;
  border-radius: 5px;
}
#content .outside .left section.content figure p.button {
  width: 710px;
  margin: 0 auto;
}
#content .outside .left section.content figure p.button button {
  float: right;
}
#content .outside .right {
  width: 360px;
}
#content .outside .right div.form {
  box-shadow: 0px 0px 4px black;
  border-radius: 5px;
  background: white;
  margin-bottom: 20px;
}
#content .outside .right div.form p.title {
  height: 34px;
  line-height: 34px;
  text-indent: 10px;
  background: #3D4450;
  color: white;
}
#content .outside .right div.form form.login {
  padding: 20px 20px;
}
#content .outside .right div.form form.login div.input-group {
  width: 315px;
  height: 34px;
  margin-bottom: 15px;
}
#content .outside .right div.form form.login div.input-group div.input-group-addon {
  background: #D9534F;
  width: 40px;
}
#content .outside .right div.form form.login div.input-group div.input-group-addon span {
  color: white;
}
#content .outside .right div.form form.login div.input-group button {
  width: 150px;
  background: #3D4450;
  color: white;
}
#content .outside .right div.form form.login div.input-group button:first-child {
  float: left;
}
#content .outside .right div.form form.login div.input-group button:last-child {
  float: right;
}
#content .outside .right div.search {
  height: 54px;
  background: #3D4450;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 4px black;
  border-radius: 5px;
}
#content .outside .right div.search div.input-group input {
  width: 280px;
  border-radius: 5px;
  margin-right: 10px;
}
#content .outside .right div.article {
  background: white;
  margin-bottom: 25px;
  box-shadow: 0px 0px 4px black;
  border-radius: 5px;
}
#content .outside .right div.article p.title {
  height: 34px;
  line-height: 34px;
  text-indent: 10px;
  background: #3D4450;
  color: white;
}
#content .outside .right div.article p.list {
  padding: 10px 15px;
  font-size: 12px;
  color: #666;
  border-bottom: 1px solid #DDD;
}
#content .outside .right div.article p.list span {
  background-color: #D9534F;
  color: white;
  border-radius: 7px;
  padding: 0px 5px;
  float: right;
}
#content .outside .right div.comment {
  background: white;
  box-shadow: 0px 0px 4px black;
  border-radius: 5px;
}
#content .outside .right div.comment p.title {
  height: 34px;
  line-height: 34px;
  text-indent: 10px;
  background: #3D4450;
  color: white;
}
#content .outside .right div.comment p.list {
  padding: 10px 15px;
  font-size: 12px;
  color: #666;
  border-bottom: 1px solid #DDD;
}
#content .outside .right div.comment p.list img {
  border-radius: 50%;
}
#content .outside .right div.comment p.list span {
  background-color: #EEEEEE;
  height: 36px;
  display: inline-block;
  line-height: 36px;
  border-radius: 5px;
  padding: 0px 10px;
  margin-left: 10px;
}
footer {
  height: 120px;
  background: #3D4450;
}
footer p {
  width: 1140px;
  color: #EEE;
  font-size: 12px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 50px;
}
/*# sourceMappingURL=large.css.map */
